In [1]:
import pandas as pd
import numpy as np

In [49]:
train_df = pd.read_pickle('~/Datas/ashre-energy/FE_train_V1.pkl')
# test_df  = pd.read_pickle('~/Datas/ashre-energy/FE_test_V1.pkl')

In [50]:
print(train_df.isna().sum()/train_df.shape[0]*100)

building_id                0.000000
timestamp                  0.000000
meter_reading              0.000000
DT_M                       0.000000
DT_W                       0.000000
DT_D                       0.000000
DT_hour                    0.000000
DT_day_week                0.000000
DT_day_month               0.000000
DT_week_month              0.000000
site_id                    0.000000
square_feet                0.000000
floor_count                0.000000
air_temperature            0.478124
cloud_coverage            43.655131
dew_temperature            0.495348
precip_depth_1_hr         18.544739
sea_level_pressure         6.092515
wind_speed                 0.710701
workday                    0.000000
avg_floor_area             0.000000
(-0.36, 45.0]              0.000000
(45.0, 90.0]               0.000000
(90.0, 135.0]              0.000000
(135.0, 180.0]             0.000000
(180.0, 225.0]             0.000000
(225.0, 270.0]             0.000000
(270.0, 315.0]             0.000000
(315.0, 360.0]             0.000000
0                          0.000000
1                          0.000000
2                          0.000000
3                          0.000000
4                          0.000000
5                          0.000000
6                          0.000000
7                          0.000000
8                          0.000000
9                          0.000000
10                         0.000000
11                         0.000000
12                         0.000000
13                         0.000000
14                         0.000000
15                         0.000000
0                          0.000000
1                          0.000000
2                          0.000000
3                          0.000000
year_built_mean_encode    59.990033
dtype: float64

In [51]:
naCols = ['air_temperature','cloud_coverage','dew_temperature','precip_depth_1_hr','sea_level_pressure','wind_speed','year_built_mean_encode']
train_df_have_na = train_df[naCols]
train_df_no_na = train_df.drop(naCols,axis=1)
del train_df

In [52]:
mean = train_df_have_na.mean()

In [53]:
mean

air_temperature           1.598795e+01
cloud_coverage            1.900423e+00
dew_temperature           7.747429e+00
precip_depth_1_hr         7.964155e-01
sea_level_pressure        1.016085e+03
wind_speed                3.377525e+00
year_built_mean_encode    3.092729e-12
dtype: float64

In [54]:
train_df_have_na = train_df_have_na.fillna(mean)

In [55]:
print(train_df_have_na.isna().sum()/train_df_have_na.shape[0]*100)

air_temperature           0.0
cloud_coverage            0.0
dew_temperature           0.0
precip_depth_1_hr         0.0
sea_level_pressure        0.0
wind_speed                0.0
year_built_mean_encode    0.0
dtype: float64

In [56]:
train_df = pd.concat([train_df_have_na,train_df_no_na],axis=1)

In [57]:
print(train_df.isna().sum()/train_df.shape[0]*100)

air_temperature           0.0
cloud_coverage            0.0
dew_temperature           0.0
precip_depth_1_hr         0.0
sea_level_pressure        0.0
wind_speed                0.0
year_built_mean_encode    0.0
building_id               0.0
timestamp                 0.0
meter_reading             0.0
DT_M                      0.0
DT_W                      0.0
DT_D                      0.0
DT_hour                   0.0
DT_day_week               0.0
DT_day_month              0.0
DT_week_month             0.0
site_id                   0.0
square_feet               0.0
floor_count               0.0
workday                   0.0
avg_floor_area            0.0
(-0.36, 45.0]             0.0
(45.0, 90.0]              0.0
(90.0, 135.0]             0.0
(135.0, 180.0]            0.0
(180.0, 225.0]            0.0
(225.0, 270.0]            0.0
(270.0, 315.0]            0.0
(315.0, 360.0]            0.0
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0
5                         0.0
6                         0.0
7                         0.0
8                         0.0
9                         0.0
10                        0.0
11                        0.0
12                        0.0
13                        0.0
14                        0.0
15                        0.0
0                         0.0
1                         0.0
2                         0.0
3                         0.0
dtype: float64

In [58]:
train_df.to_pickle('../../Datas/ashre-energy/FE_train_V1_noNan.pkl')

In [59]:
del train_df, train_df_have_na,train_df_no_na

In [41]:
test_df  = pd.read_pickle('~/Datas/ashre-energy/FE_train_V1.pkl')

In [42]:
test_df_have_na = test_df[naCols]
test_df_no_na = test_df.drop(naCols,axis=1)

In [43]:
test_df_have_na = test_df_have_na.fillna(mean)

In [44]:
print(test_df_have_na.isna().sum()/test_df_have_na.shape[0]*100)

air_temperature           0.0
cloud_coverage            0.0
dew_temperature           0.0
precip_depth_1_hr         0.0
sea_level_pressure        0.0
wind_speed                0.0
year_built_mean_encode    0.0
dtype: float64

In [46]:
test_df = pd.concat([test_df_have_na,test_df_no_na],axis=1)

In [47]:
print(test_df.isna().sum()/test_df.shape[0]*100)

air_temperature           0.0
cloud_coverage            0.0
dew_temperature           0.0
precip_depth_1_hr         0.0
sea_level_pressure        0.0
wind_speed                0.0
year_built_mean_encode    0.0
building_id               0.0
timestamp                 0.0
meter_reading             0.0
DT_M                      0.0
DT_W                      0.0
DT_D                      0.0
DT_hour                   0.0
DT_day_week               0.0
DT_day_month              0.0
DT_week_month             0.0
site_id                   0.0
square_feet               0.0
floor_count               0.0
workday                   0.0
avg_floor_area            0.0
(-0.36, 45.0]             0.0
(45.0, 90.0]              0.0
(90.0, 135.0]             0.0
(135.0, 180.0]            0.0
(180.0, 225.0]            0.0
(225.0, 270.0]            0.0
(270.0, 315.0]            0.0
(315.0, 360.0]            0.0
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0
5                         0.0
6                         0.0
7                         0.0
8                         0.0
9                         0.0
10                        0.0
11                        0.0
12                        0.0
13                        0.0
14                        0.0
15                        0.0
0                         0.0
1                         0.0
2                         0.0
3                         0.0
dtype: float64

In [48]:
test_df.to_pickle('../../Datas/ashre-energy/FE_test_V1_noNan.pkl')